<mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="center center">
  
    <h3 *ngIf="!person">Crear nueva persona</h3>
    <h3 *ngIf="person">Editar persona</h3>

    <form [formGroup]="personForm">
    
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div fxFlex="33" fxFlex.xs="100">
          <mat-form-field appearance="fill" >
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" placeholder="Nombre">
            <mat-error *ngIf="personForm.get('name')?.hasError('required')">El nombre es requerido</mat-error>
          </mat-form-field>
        </div>
        
        <div fxFlex="33" fxFlex.xs="100">
          <mat-form-field appearance="fill" >
            <mat-label>Apellido Paterno</mat-label>
            <input matInput formControlName="lastName" placeholder="Apellido Paterno">
            <mat-error *ngIf="personForm.get('lastName')?.hasError('required')">El Apellido Paterno es requerido</mat-error>
          </mat-form-field>
        </div>
        
        <div fxFlex="33" fxFlex.xs="100">
          <mat-form-field appearance="fill" >
            <mat-label>Apellido Materno</mat-label>
            <input matInput formControlName="secondLastName" placeholder="Apellido Materno">
            <mat-error *ngIf="personForm.get('secondLastName')?.hasError('required')">El Apellido Materno es requerido</mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div fxFlex="33" fxFlex.xs="100">
          <mat-form-field appearance="fill">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni" placeholder="DNI">
            <mat-error *ngIf="personForm.get('dni')?.hasError('required')">El DNI es requerido</mat-error>
            <mat-error *ngIf="personForm.get('dni')?.hasError('minlength')">El DNI debe contener mínimo 8 caracteres</mat-error>
            <mat-error *ngIf="personForm.get('dni')?.hasError('maxlength')">El DNI debe contener máximo 8 caracteres</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="33" fxFlex.xs="100">
          <mat-form-field appearance="fill">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" placeholder="Correo electrónico">
            <mat-error *ngIf="personForm.get('email')?.hasError('required')">El correo electrónico es requerido</mat-error>
            <mat-error *ngIf="personForm.get('email')?.hasError('email')">El correo electrónico no es válido</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex="33" fxFlex.xs="100">
          <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="age" placeholder="Edad">
            <mat-error *ngIf="personForm.get('age')?.hasError('required')">La edad es requerida</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  
  <button 
    *ngIf="!person"
    mat-raised-button 
    color="primary"
    type="button" 
    [disabled]="!personForm.valid" 
    (click)="onSave()"
  >Grabar</button>
  
  <button 
    *ngIf="person"
    mat-raised-button 
    color="primary"
    type="button" 
    [disabled]="!personForm.valid" 
    (click)="onUpdate()"
  >Actualizar</button>
</mat-dialog-actions>